<p>
    <a href="{% url 'fpr_db:index' %}">Family Point Resources</a>
    <a href="{% url 'fpr_db:new_student' %}">New Student</a>
    <a href="{% url 'fpr_db:camps' %}">Camps</a>
    <a href="{% url 'fpr_db:parents' %}">Parents</a>
    <a href="{% url 'fpr_db:students' %}">Students</a>
    {% if user.is_authenticated %}
    Hello, {{user.username}}
    <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
    <a href="{% url 'users:register' %}">Register</a>
    <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>

{% block content %} {% endblock content %}